.friend .friend__number {
  background-color: #fc652b;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
