.chat-body {
  width: 100%;
  padding: 0px;
}

.header-wrapper {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  z-index: 5;
}

.header-wrapper .status-bar {
  margin: 20px 20px 40px 20px;
}

.chat-body .header {
  margin: 20px;
}

.chat-main {
  padding-top: 120px;
  background-image: url("../images/white_leather.png");
  min-height: 200vh;
  z-index: 1;
}

.chat-main__time {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat-main .chat-main__timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9b9b9b;
  height: 25px;
  width: 180px;
  border-radius: 50px;
  font-size: 13px;
  color: white;
  font-weight: 300;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat-write i {
  font-size: 25px;
  cursor: pointer;
}

.chat-write .write-column-th i:nth-last-child(2) {
  padding-right: 20px;
}

.chat-write .write-column-o,
.chat-write .write-column-th {
  position: absolute;
}
.chat-write .write-column-o {
  left: 50px;
  top: 28px;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}

.chat-write .write-column-th {
  right: 50px;
  top: 28px;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}

.write .chat-write__input {
  width: 90%;
  border-radius: 20px;
  padding: 15px 70px;
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  outline: none;
  font-size: 15px;
  transition: animation 1s ease-in-out, width 1s ease-in-out;
}

.chat-write__input:focus {
  width: 80%;
  animation: float 2s ease-in-out infinite forwards;
}

@keyframes float {
  0% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    transform: translateY(-3px);
    box-shadow: 0 13px 27px -50px rgba(50, 50, 93, 0.25),
      0 8px 16px -60px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.chat-write {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  padding: 15px 0px 50px 0px;
}

.chat-write__input:focus ~ .write-column-o,
.chat-write__input:focus ~ .write-column-th {
  opacity: 0;
}

.chat-main .chat-main__meassage {
  margin: 20px;
  position: relative;
}

.meassage .meassage__incoming {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.meassage__incoming-column,
.meassage__sending-column {
  display: flex;
  align-items: flex-end;
}

.meassage .meassage__sending {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.meassage .meassage__author {
  opacity: 0.6;
  font-size: 16px;
  margin-bottom: 10px;
}

.meassage__incoming .meassage__content {
  color: white;
  background-image: linear-gradient(to right, #bbd2c5, #536976, #292e49);
  padding: 10px 20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  margin-right: 10px;
}

.meassage__incoming .meassage__time {
  opacity: 0.6;
  font-size: 16px;
}

.meassage__sending .meassage__content {
  color: white;
  background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  padding: 10px 20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  margin-left: 10px;
}

.meassage__sending .meassage__time {
  opacity: 0.6;
  font-size: 16px;
}

/*.meassage__incoming {
  animation: incomingAnimation 1s ease-in-out forwards;
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.meassage__sending {
  animation: sendingAnimation 1s ease-in-out forwards;
}

@keyframes sendingAnimation {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}*/

.meassage__avatar {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
  }
  to {
    transform: rotateY(1turn);
    box-shadow: 0 13px 27px -50px rgba(50, 50, 93, 0.25),
      0 8px 16px -60px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}
