.gamestar-body {
  padding: 0px;
  height: 970px;
  background-color: #ffffff;
  margin: 0px;
  color: #020202;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.gamestar-body .status-bar {
  padding: 20px 20px 0px 20px;
}

.gamestar-body .header .fa-cog {
  margin-right: 20px;
}

.game__news {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 11px solid #f0f0f0;
  border-bottom: 11px solid #f0f0f0;
  margin: 0px 15px;
}

.news .game__title {
  padding-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
  opacity: 0.7;
}

.news .news__list {
  padding: 10px 0px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.news .news__title,
.news .news__name {
  margin-left: 15px;
}

.news .news__title {
  font-size: 16px;
}
.news .news__name {
  margin-top: 10px;
  font-size: 15px;
  opacity: 0.7;
}

.news .game__more {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
}

.game__more i {
  font-size: 18px;
}
.game__more .game__more__title {
  margin-left: 10px;
  font-size: 15px;
}
