.header,
.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.header .header__title,
.game-header .header__title {
  font-size: 24px;
  font-weight: 700;
}

.header i,
.game-header i {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.game-header {
  padding: 0px 20px 0px 40px;
}

.header .header__chat-name {
  font-size: 24px;
  font-weight: 700;
  margin-left: 60px;
}

.header .back-btn i {
  margin-left: 10px;
}

.fun-header {
  color: #b1b1b1;
  border-bottom: solid 2px #f0f0f0;
}

.fun-header .header__title {
  color: #b1b1b1;
  margin-right: 15px;
  cursor: pointer;
}

.header .header__title:nth-child(1) {
  padding-left: 20px;
}

.fun-header i {
  padding-right: 20px;
  cursor: pointer;
}

.header .header__title:nth-child(2) {
  color: #020202;
}
