.nav {
  background-color: #f9f9f9;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 20px 35px 40px 35px;
  border-top: 1px solid #f9f9f9;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__list-item i {
  font-size: 20px;
}

.nav__list-ink {
  position: relative;
}

.nav__badge {
  font-size: 12px;
  position: absolute;
  background-color: #fc652b;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  border-radius: 10px;
}

.nav {
  transform: translateY(80px);
  animation: startNav 0.3s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes startNav {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}
